html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
  margin-bottom: 6px;
}

.header-underline {
  height: 6px;
  position: relative;
  background-color: #323746;
}

header > .wrapper {
  justify-content: space-between;
  width: 940px;
}

.logo {
  color: #ffffff;
  text-align: left;
  line-height: 20px;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 33px;
}

.logo::after {
  content: "*";
  position: relative;
  font-size: 2.4rem;
  color: #f06c64;
}

nav {
  width: 380px;
  height: 100%;
}

.header-navigation .navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-block-start: 18px;
  margin-block-end: 0;
  padding-inline-start: 9px;
}

.navigation li a {
  font-size: 12px;
  line-height: 63px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation li:first-child a {
  color: #f06c64;
}

.navigation li:not(:first-child)::before {
  content: ".";
  position: relative;
  font-weight: 400;
  font-size: 20px;
  left: -11px;
  color: #494e62;
  bottom: 3px;

}

.navigation li a:hover {
  color: #f06c64;
}

.slider {
  width: 100%;
  height: 594px;
  background-color: #f06c64;
  margin-bottom: 6px;
}

.slider > .wrapper {
  position: relative;
}

.prev:hover, .next:hover {
  transform: scale(1.4);
}

.prev {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 281px;
  left: 42px;
}

.phone-vertical {
  position: absolute;
  top: 53px;
  left: 112px;
  width: 240px;
  height: 484px;
}

.phone-horizontal {
  position: absolute;
  top: 174px;
  right: 111px;
  width: 483px;
  height: 240px;
}

.next {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 281px;
  right: 40px;
}

.slider-underline {
  height: 6px;
  position: relative;
  background-color: #ea676b;
}

.services {
  width: 100%;
  color: #767e9e;
  background-color: #f2f2f2;
}

.services > .wrapper {
  flex-direction: column;
}

.services-header {
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 19px;
  padding-block-start: 60px;
  font-size: 3rem;
}

.service-text {
  margin-top: 0px;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 40px;
  font-weight: 300;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.item {
  display: flex;
  flex-basis: 33%;
  margin-bottom: 27px;
  margin-right: -10px;
}

.layout-3-column h3 {
  margin: 0;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: -0.013rem;
  text-transform: capitalize;
  font-weight: 900;
}

.layout-3-column p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding-top: 8px;
  text-align: justify;
  padding-right: 10px;

}

.tool-icon {
  padding-top: 4px;
  margin-right: 18px;
}

.services-underline {
  height: 6px;
  position: relative;
  background-color: #ffffff;

}
