html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.quote {
  background-color: #f06c64;
  color: #f0d8d9;
}

.quote > .wrapper {
  justify-content: space-between;
  flex-direction: column;
  width: 940px;
}

.quote-header {
  text-align: left;
  line-height: 30px;
  font-size: 3.0rem;
  font-weight: 900;
  margin-block-start: 62px;
  margin-block-end: 0;
  letter-spacing: -0.16px;
}

.wrapper > p {
  letter-spacing: -0.222px;
  padding-top: 21px;
  line-height: 30px;
  text-align: justify;
}

.layer-2-column {
  padding-top: 28px;
  display: flex;
}

.first-column {
  width: 620px;
  padding-bottom: 11px;
}

.contacts-input {
  padding-left: 16px;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
}

.contacts-input,
.contacts-textarea {
  height: 36px;
  border-radius: 5px;
  border: 0;
  background-color: #d6564f;
  color: #ffffff;
  width: 603px;
  margin-top: 16px;
}

.contacts-input:hover,
.contacts-textarea:hover {
  background-color: #c9534d;
  outline: none;
}

.contacts-input:focus,
.contacts-textarea:focus {
  color: #666d89;
  background-color: #f0d8d9;
  outline: none;
}

.contacts-textarea {
  width: 601px;
  height: 188px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 1.2rem;
  letter-spacing: -0.17em;
  line-height: 12px;
  resize: none;
}

.contacts-input::placeholder,
.contacts-textarea::placeholder {
  color: #f48c8f;
}

textarea {
  padding-bottom: 2px;
  margin: 0;
}

input[type="submit"] {
  padding: 1px 6px;
}

.contacts-input.submit {
  width: 620px;
}

.second-column {
  padding-left: 20px;
  width: 300px;
}

.second-column > p {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-align: justify;
}

.contact-header {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 10px;
}

.contacts {
  padding-top: 20px;
}

.contacts > p {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-align: justify;
  padding-left: 23px;
}

.contacts a:hover {
  color: #d6564f;
}

.location {
  background: url(./assets/img/location.svg) 3px 5px no-repeat;
}

.phone-number {
  background: url(./assets/img/our-phone.svg) 1px 4px no-repeat;
}

.our-email {
  background: url(./assets/img/email.svg) 0 7px no-repeat;
}

.quote-underline {
  height: 6px;
  position: relative;
  background-color: #ea676b;
}

.soc-networks {
  padding-top: 21px;
  display: flex;
}

.soc-networks > a {
  width: 30px;
  height: 31px;
  border: 1px solid #767e9e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  margin-right: 7px;
}

.soc-networks > a:nth-child(4) {
  margin-right: 0;
}

.soc-networks > a:hover {
  transform: scale(1.2);
}

.soc-networks>a>img {
  width: 14px;
  height: 14px;
}

footer {
  background-color: #2d303a;
  color: #666d89;
}

footer  .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h4 {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.2px;
  padding-left: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
}
