html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#services,
#portfolio,
#about,
#contact {
  scroll-margin-top: 95px;
}

.wrapper {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
  margin-bottom: 6px;
  z-index: 110;
  position: fixed;
}

.header-underline {
  height: 6px;
  position: relative;
  background-color: #323746;
}

header > .wrapper {
  justify-content: space-between;
}

.hamburger {
  display:none;
}

.logo {
  color: #ffffff;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 30px;
}

.logo::after {
  content: "*";
  position: relative;
  font-size: 2.4rem;
  color: #f06c64;
}

.header-navigation {
  width: 380px;
  height: 100%;
}

.header-navigation .navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-block-start: 18px;
  margin-block-end: 0;
  padding-inline-start: 9px;
}

.navigation li a {
  font-size: 12px;
  line-height: 63px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation li.active a {
  color: #f06c64;
}

.navigation li:not(:first-child)::before {
  content: ".";
  position: relative;
  font-weight: 400;
  font-size: 20px;
  left: -11px;
  color: #494e62;
  bottom: 3px;

}

.navigation li a:hover {
  color: #f06c64;
}

.menu-small {
  display: none;
}

.slider {
  width: 100%;
  height: 689px;
  background-color: #f06c64;
  margin-bottom: 6px;
}

.slider > .wrapper {
  position: relative;
  padding-top: 95px;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.first-slider-container {
  width: 940px;
  position: relative;
}

.slider .slide {
  width: 100%;
  position: relative;
  margin: 0 auto;
  left: 0px;
}

.slider .slide.active {
  display: block;
}

.prev:hover, .next:hover {
  transform: scale(1.4);
}

.prev {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 375px;
  left: 42px;
  z-index: 100;
}

.phone-vertical,
.phone-horizontal  {
  position: absolute;
}

.phone-vertical {
  top: 53px;
  left: 72px;
  width: 240px;
  height: 484px;
}

.phone-horizontal {
  top: 174px;
  right: 72px;
  width: 483px;
  height: 240px;
}

.vertical-black-screen,
.horizontal-black-screen {
  display: none;
  position: absolute;
  background-color: black;
}

.vertical-black-screen {
  top: 118px;
  left: 86px;
  width: 188px;
  height: 334px;
}

.horizontal-black-screen {
  top: 188px;
  right: 163px;
  width: 332px;
  height: 188px;
}

.visible {
  display: block;
}

#vertical-phone-btn,
#horizontal-phone-btn {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  z-index: 110;
}

#vertical-phone-btn {
  width: 42px;
  height: 42px;
  top: 462px;
  left: 158px;
}

#horizontal-phone-btn {
  width: 42px;
  height: 42px;
  top: 261px;
  left: 394px;
}

.next {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 375px;
  right: 40px;
  z-index: 100;
}

.slider-underline {
  height: 6px;
  position: relative;
  background-color: #ea676b;
  top: -95px;
}

.services {
  width: 100%;
  color: #767e9e;
  background-color: #f2f2f2;
}

.services > .wrapper {
  flex-direction: column;
}

.services-header {
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 18px;
  padding-block-start: 59px;
  font-size: 3.0rem;
  letter-spacing: -0.14px;
}

.service-text {
  margin-top: 0px;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 42px;
  font-weight: 300;
  padding-top: 0px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;
}

.item-service {
  display: flex;
  flex-basis: 33%;
  margin-bottom: 29px;
  margin-right: -10px;
}

.layout-3-column h3 {
  margin: 0;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: -0.013rem;
  text-transform: capitalize;
  font-weight: 900;
  padding-top: 1px;
}

.layout-3-column p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.1rem;
  padding-top: 8px;
  text-align: justify;
  padding-right: 10px;
  overflow: hidden;
  height: 63px;
}

.tool-icon {
  padding-top: 4px;
  margin-right: 18px;
}

.services-underline {
  height: 6px;
  position: relative;
  background-color: #ffffff;

}

.portfolio {
  background-color: #2d303a;
  color: #767e9e;
}

.portfolio > .wrapper {
  justify-content: space-between;
  flex-direction: column;
}

.portfolio-header {
  color: #666d89;
  text-align: left;
  line-height: 30px;
  font-size: 3.0rem;
  font-weight: 900;
  margin-block-start: 61px;
  margin-block-end: 0;
}

.description {
  letter-spacing: -0.22px;
  padding-top: 22px;
  line-height: 30px;
}

.tags {
  display: flex;
  justify-content: start;
  list-style: none;
  padding-top: 11px;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.tags li {
  margin-right: 10px;
  border: solid 1px #666d89;
  border-radius: 5px;
  padding: 3px 6px;
}

.tags li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tags li.active {
  border-color: #c5c5c5;
  color: #dedede;
}

.layout-4-column {
  width: 960px;
  height: 621px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;
  position: relative;
  overflow: hidden;
  padding-bottom: 47px;
  left: -10px;
}

.item {
  width: 220px;
  height: 187px;
  flex: none;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
}

.item::before {
  content: '';
  float: left;
  padding-top: 100%;
}

.item:nth-child(n+13) {
  display: none;
}

.selected-item {
  outline: 5px solid #F06C64;
}

.item img {
  position: absolute;
  width: auto;
  height: auto;
}

.item-img1 {
  top: -11px;
  left: -8px;
}

.item-img2 {
  top: -43px;
  left: -82px;
}

.item-img3 {
  top: -1px;
  left: -11px;
}

.item-img4 {
  top: -2px;
  left: -24px;
}

.item-img5 {
  top: -16px;
  left: -10px;
}

.item-img6 {
  top: -4px;
  left: -16px;
}

.item-img7 {
  top: -39px;
  left: -31px;
}

.item-img8 {
  top: -32px;
  left: -24px;
}

.item-img9 {
  top: -2px;
  left: -16px;
}

.item-img10 {
  top: -113px;
  left: -141px;
}

.item-img11 {
  top: -175px;
  left: -144px;
}

.item-img12 {
  top: -60px;
  left: -36px;
}

.item:hover{
  box-shadow: 0px 7px 4px -3px #f7aaaa;
}

.portfolio-underline {
  height: 6px;
  position: relative;
  background-color: #313745;
}

.about-us {
  background-color: #f2f2f2;
  color: #767e9e;
}

.about-us > .wrapper {
  flex-direction: column;
}

.about-us-header {
  color: #666d89;
  text-align: left;
  line-height: 18px;
  font-size: 3.0rem;
  font-weight: 900;
  margin-block-start: 68px;
  margin-block-end: 0;
}

.about-us-description {
  letter-spacing: -0.22px;
  padding-top: 27px;
  line-height: 30px;
  text-align: justify;
}

.layer-3-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 45px;
  height: 510px;
}

.layer-3-tiles > .item {
  margin-right: unset;
  margin-bottom: unset;
  padding-right: unset;
  height: unset;
  width: unset;
  flex-direction: column;
}

.about-us-underline {
  height: 6px;
  position: relative;
  background-color: #ffffff;
}

.layer-3-tiles > .box {
  width: 300px;
}

.layer-3-tiles > .box > img {
  height: 300px;
  width: 300px;
}

.layer-3-tiles > .box > h3 {
  font-size: 1.8rem;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-top: 13px;
  letter-spacing: -0.19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box > p {
  font-size: 1.2rem;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-top: 11px;
  letter-spacing: -0.07px;
}

.soc-networks {
  padding-top: 24px;
  display: flex;
}

.soc-networks > a {
  width: 30px;
  height: 31px;
  border: 1px solid #767e9e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  margin-right: 7px;
}

.soc-networks > a:hover {
  transform: scale(1.2);
}

.soc-networks>a>img {
  width: 14px;
  height: 14px;
}

.quote {
  background-color: #f06c64;
  color: #f0d8d9;
}

.quote > .wrapper {
  justify-content: space-between;
  flex-direction: column;
}

.quote-header {
  text-align: left;
  line-height: 30px;
  font-size: 3.0rem;
  font-weight: 900;
  margin-block-start: 62px;
  margin-block-end: 0;
  letter-spacing: -0.16px;
}

.quote-description,
#message-block {
  letter-spacing: -0.222px;
  padding-top: 21px;
  line-height: 30px;
  text-align: justify;
}

.layer-2-column {
  padding-top: 28px;
  display: flex;
}

.first-column {
  width: 620px;
  padding-bottom: 11px;
}

.contacts-input {
  padding-left: 16px;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
}

.contacts-input,
.contacts-textarea {
  width: 603px;
  height: 36px;
  border-radius: 5px;
  border: 0;
  background-color: #d6564f;
  color: #ffffff;
  margin-top: 16px;
}

.contacts-input:hover,
.contacts-textarea:hover {
  background-color: #c9534d;
  outline: none;
}

.contacts-input:focus,
.contacts-textarea:focus {
  color: #666d89;
  background-color: #f0d8d9;
  outline: none;
}

.contacts-textarea {
  width: 601px;
  height: 188px;
  padding-top: 12px;
  padding-left: 16px;
  font-size: 1.2rem;
  letter-spacing: -0.17em;
  line-height: 12px;
  resize: none;
}

.contacts-input::placeholder,
.contacts-textarea::placeholder {
  color: #f48c8f;
}

textarea {
  padding-bottom: 2px;
  margin: 0;
}

input[type="submit"] {
  padding: 1px 6px;
}

.contacts-input.submit {
  width: 620px;
}

.second-column {
  width: 300px;
  padding-left: 20px;
}

.second-column > p {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-align: justify;
}

.contact-header {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 10px;
}

.contacts {
  padding-top: 20px;
}

.contacts > p {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.1px;
  text-align: justify;
  padding-left: 23px;
}

.contacts a:hover {
  color: #d6564f;
}

.location {
  background: url(./assets/img/location.svg) 3px 5px no-repeat;
}

.phone-number {
  background: url(./assets/img/our-phone.svg) 1px 4px no-repeat;
}

.our-email {
  background: url(./assets/img/email.svg) 0 7px no-repeat;
}

.quote-underline {
  height: 6px;
  position: relative;
  background-color: #ea676b;
}

.footer.soc-networks {
  padding-top: 21px;
  display: flex;
}

.footer.soc-networks > a:nth-child(4) {
  margin-right: 0;
}

footer {
  background-color: #2d303a;
  color: #666d89;
}

footer  .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h4 {
  font-size: 1.2rem;
  line-height: 22px;
  letter-spacing: -0.2px;
  padding-left: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
}

#message-block {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0008;
  z-index: 110;
}

#message-block.hidden {
  display: none;
}

#message {
  position: absolute;
  top: 25%;
  left: 30%;
  text-align: left;
  background: #ea676b;
  padding: 30px;
  border-radius: 22px;
  width: 30%;
  max-height: 50%;
  overflow: hidden auto;
  word-wrap: break-word;
}

.invisible {
  display: none !important;
}

@media(max-width: 1019px){
  .wrapper {
    width: auto;
  }

  .slider {
    height: calc(70vw);
  }

  #second-slide {
    width: 100%;
    transform: translateX(200%);
  }

  .slider-container {
    display: block;
  }

  .phone-vertical {
    width: 25%;
    height: calc(44vw);
    top: calc(3vw);
    left: calc(6vw);
  }

  .phone-horizontal {
    width: 51%;
    height: calc(24vw);
    top: calc(13vw);
    right: calc(6vw);
  }

  .prev,
  .next {
    top: calc(40vw);
  }

  .prev {
    left: 30px;
  }

  .next {
    right: 30px;
  }



  .item-service {
    margin: 0 7% 7% 0;
    flex: 1 0 36%;
  }

  .layer-3-tiles > .box {
    width: 33%;
  }

  .layer-3-tiles > .box > img {
    width: 100%;
    height: auto;
  }

  .first-column {
    width: 65%;
  }

  .contacts-input,
  .contacts-textarea {
    width: 95%;
  }

  .contacts-input.submit {
    width: 98%;
  }

  .second-column {
    width: 35%;
  }

  .layout-4-column {
    width: calc(100% + 10px);
    height: auto;
  }

  .first-slider-container {
    width: 100%;
  }

  .item {
    display: flex;
    margin: 10px;
    flex: 1 0 24%;
    width: auto;
    height: auto;
  }

  .item img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  footer .wrapper {
    height: 76px;
  }

  footer h4{
    display: none;
  }

  .footer.soc-networks {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 30px;
  }

  .hamburger {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 20px;
    left: 20px;
    top: 26px;
  }

  .hamburger-line {
    position: absolute;
    width: 25px;
    height: 2.4px;

    background: #ffffff;
    border-radius: 5px;
  }

  .rotated {
    transform: rotate(90deg)
  }

  .first {
    top: 0;
  }

  .second {
    top: 9px;
  }

  .third {
    top: 18px;
  }

  .header {
    height: 71px;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .header-navigation {
    display: none;
  }

  .menu-small .navigation-small {
    display: flex;
    list-style: none;
    padding-block-start: 238px;
    padding-inline-start: 73px;
    flex-direction: column;
    background-color: #2D303A;
    width: 70%;
  }
  .navigation li:not(:first-child)::before {
    display: none;
  }

  .navigation.navigation-small li a {
    font-size: 2.4rem;
  }

  .menu-small {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .overlay {
    background: #2D303A;
    opacity: 0.6;
    width: 30%;
  }

  .header-underline {
    display: none;
  }

  .item-service {
    flex: 1 0 44%;
  }

  .item {
    flex: 1 0 32%;
  }

  .item:nth-child(n+9) {
    display: none;
  }

  .layer-3-tiles {
    flex-wrap: wrap;
    height: auto;
  }

  .layer-3-tiles > .box {
    flex: 1 0 51%;
    margin-bottom: 10%;
  }

  .layer-2-column {
    flex-direction: column;
  }

  .first-column {
    width: 100%;
  }

  .second-column {
    width: 95%;
    padding-left: 0;
  }

  .contacts {
    padding-bottom: 35px;
  }
}

@media (max-width: 375px) {

  .slide {
    height: 671px;
  }

  .slider-container {
    top: -18px;
  }
  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .wrapper {
    padding: 0 30px;
  }

  .item {
    flex: 1 0 32%;
    margin: 7px;
  }

  .contacts-input.submit {
    width: 100%;
  }
}

/* @media(hover:hover){
  .navigation li a:hover {
    color: #f06c64;
  }
} */
