html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
}

header > .wrapper {
  justify-content: space-between;
  width: 940px;
}

.logo {
  color: #ffffff;
  text-align: left;
  height: 100%;
  width: 140px;
  line-height: 56px;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  /* margin: ; */
}

.logo::after {
  content: "*";
  position: relative;
  font-size: 2.4rem;
  color: #f06c64;
}

nav {
  width: 380px;
  height: 100%;
}

/* .header-navigation .header {
   display: flex;
} */

.header-navigation .navigation {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  list-style: none;
}

.navigation li a {
  font-size: 12px;
  line-height: 63px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.navigation li:first-child a {
  color: #f06c64;
}

.navigation li:not(:first-child)::before {
  content: ".";
  position: relative;
  font-weight: 400;
  font-size: 20px;
  left: -11px;
  color: #494e62;
  bottom: 3px;

}

.navigation li a:hover {
  color: #f06c64;
}


.slider {
  width: 100%;
  height: 594px;
  background-color: #f06c64;
}

.slider > .wrapper {
  padding-top: 6px;
  position: relative;
}

.prev {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 287px;
}

.phone-vertical {
  position: absolute;
  top: 59px;
  left: 112px;
  width: 240px;
  height: 484px;
}

.phone-horizontal {
  position: absolute;
  top: 180px;
  right: 112px;
  width: 483px;
  height: 240px;
}

.next {
  position: absolute;
  width: 16px;
  height: 27px;
  top: 287px;
  right: 40px;
}

.services {
  width: 100%;
  height: 500px;
}

.layout-3-column {
  display: flex;
}
